<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>Cinq People AngularJS</title>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container" ng-app ng-init="tab=1">
        <ul class="tabs-nav">
            <li><a ng-click="tab=1" ng-class="{'active' : tab==1}">Home</a></li>
            <li><a ng-click="tab=2" ng-class="{'active' : tab==2}">People List</a></li>
        </ul>

        <div class="tabs-container">
            <div class="tab-content" ng-show="tab == 1">
                <h3>Welcome</h3>
                </br>
                <p>Hi, this is my angularjs app, responsible to list the result of a rest api consult.</p>
                <p>You will find the returned list on the next tab. Hope you enjoy.</p>
                <p>Best regards, <br> Renato de Paula</p>
            </div>

            <div class="tab-content" ng-show="tab == 2">
                <h3>Showing People List</h3>
                <div class="content" ng-controller="People">
                    <div ng-repeat="p in people">
                        <ul class="tabs-list">
                            <p><li><b> Id:</b> {{p.id}}</li>
                            <li><b> Name:</b> {{p.name}}</li>
                            <li><b> Info:</b> {{p.disclosableInfo}}</li></p>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="people.js"></script>
</body>
</html>